root = true

[*]
charset = utf-8
end_of_line = lf

[Dockerfile]
indent_style = space
indent_size = 2

[*.{yaml,yml,md}]
indent_style = space
indent_size = 2

[*.{py,sh}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
